<template>
  <div class="home">
    <div class="container">
      <ArticleSelection />
    </div>

    <router-link :to="{name: 'article', params: {id:1}}"></router-link>
  </div>
</template>

<script>
import ArticleSelection from "@/components/ArticleSelection.vue";

export default {
  name: "Home",
  components: {
    ArticleSelection
  }
};

</script>

<style scoped>
.home {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home .container {
  background-color: #454c76;
  width: 1280px;
  padding-top: 80px;
}
</style>