<template>
  <div class="content-article">
    <div class="auteurDate">
      <div class="auteurDateText">
        <div v-html="date"></div><h2> écrit par </h2>
        <div v-html="auteur"></div>
      </div>
    </div>
    <div class="content-text">
      <div v-html="text"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContentArticle",
  props: {
    text: String,
    auteur: String,
    date: Date
  }
};
</script>

<style scoped>
.content-text {
  padding: 40px;
  padding-top: 20px;
}
.auteurDate {
  display: flex;
  flex-direction: row-reverse;

  background-color: orange;
  width: 100%;
}
.auteurDateText {
  display: flex;
  flex-direction: row;
  background-color: yellow;
  text-align: right;
  padding-right: 15px;
  padding-left: 15px;
}
h2{
  margin-right: 5px;
  margin-left: 5px;
}
</style>