<template>
    <div class="content-header">
        <div class="content-header-title">
            <h1>
              Article {{$route.params.id}}
            </h1>
        </div>
        <div class="content-header-image">
        </div>
    </div>
</template>

<script>
export default {
    name: "ContentHeader",
}
</script>

<style scoped>
    .content-header {
        width: 100%;
        margin-bottom: -20px;
    }

    .content-header .content-header-title {
        text-align: center;
        font-size: 30px;
    }

    .content-header .content-header-image {
        background-image: url("~@/assets/everest.jpg");
        background-position: center;
        padding-top: 600px;
        background-size:cover
    }

</style>
