<template>
  <div class="articleSelection">
      <Thumbnail class="thumbnail" :img="everest" :text="everestText" :articleId="everestId"   />
      <Thumbnail class="thumbnail" :img="ville" :text="villeText" :articleId="villeId" />
      <Thumbnail class="thumbnail" :img="everest" :text="everestText" :articleId="everestId" />
      <Thumbnail class="thumbnail" :img="everest" :text="everestText" :articleId="everestId" />
      <Thumbnail class="thumbnail" :img="ville" :text="villeText" :articleId="villeId" />
      <Thumbnail class="thumbnail" :img="ville" :text="villeText" :articleId="villeId" />
      <Thumbnail class="thumbnail" :img="everest" :text="everestText" :articleId="everestId" />
      <Thumbnail class="thumbnail" :img="ville" :text="villeText" :articleId="villeId" />
      <Thumbnail class="thumbnail" :img="ville" :text="villeText" :articleId="villeId" />
  </div>
</template>

<script>
import Thumbnail from "@/components/Thumbnail.vue";
export default {
  name: "ArticleSelection",
  components: {
    Thumbnail
  },
  data() {
    return {
      everestId: 1,
      everest: require("../assets/everest.jpg"),
      everestText: "Mont Everest",
      villeId: 2,
      ville: require("../assets/ville.jpg"),
      villeText: "ville ville ville",
    };
  }
};
</script>

<style scoped>
.articleSelection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
}

.thumbnail {
  flex: 0 0 29.5%;
}

@media all and (max-width: 1280px){
  .thumbnail {
    flex: 0 0 100%;
  }
}
</style>
