<template>
  <div class="Footer">
    <div class="column">
      <H3>MeConnaitre</H3>
      <a href="https://www.linkedin.com/in/yoanndijoux/">
        <p>C.V.</p>
      </a>
      <a href="https://gitlab.com/uaw/">
        <p>Portfolio</p>
      </a>
    </div>
    <div class="column">
      <h3>Nous contacter</h3>

      <p>email</p>
      <p>Flux RSS</p>
      <p>Newsletter</p>
    </div>
    <div class="column">
      <h3>Assistance</h3>
      <p>Mentions légales</p>
      <p>support</p>
      <p>Charte deconfidentialité</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  components: {}
};
</script>
<style scoped>
.Footer {
  display: flex;
  justify-content: space-around;
  color: #080f3a;
  padding: 50px;
}
.column {
  display: flex;
  flex-direction: column;
}
</style>
    
