<template>
  <div class="header">
    <router-link :to="{name: 'home'}">
      <img id="img-logo" src="@/assets/logo.png" alt="logo" />
    </router-link>
  </div>
</template>>

<script>
export default {
  name: "Header"
};
</script>>

<style scoped>
.header {
  z-index: 1;
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #81a1d7;
}

#img-logo {
  height: 80px;
  width: 80px;
  position: fixed;
  left: 17%;
}
</style>