<template>
  <div class="thumbnail">
    <router-link :to="{name: 'article', params: {id:articleId}}">
      <img :src="img" alt="img-thumbnail" class="thumbnail-img" />
      <div v-html="text" class="thumbnail-text"></div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Thumbnail",
  props: {
    img: String,
    text: String,
    articleId: Number
  }
};
</script>

<style scoped>
.thumbnail {
  position: relative;
  text-align: center;
  width: 28%;
  margin: 20px;
}
.thumbnail-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: wheat;
  width: 100%;
  opacity: 90%;
}
.thumbnail-text:hover {
  color:red;
}
.thumbnail-img {
  width: 100%;
  height: 100%;
  padding: 1px;
}
.thumbnail-img:hover {
  border:1px solid #dddddd;
  padding: 0px;
}
</style>
